h1{
    text-align: center
}

div.a{
    padding-bottom: 5px;
    text-align: center;
}

div.b{
    padding-bottom: 5px;
    text-align: center;
}

div.c{
    padding-bottom: 5px;
    
    text-align: center;
}

div.d{
    text-align: center;
    padding-bottom: 10px;
}

div.e{
    text-align: center;
    padding-bottom: 10px;
}

div.f{
    text-align: center;
    padding-bottom: 10px;
}

div.g{
    text-align: center;
    
}